*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main * {
	font-family: 'Roboto', sans-serif;

}
.corpo{
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
	width: 100%;
	height: 200vh;
	padding-top: 8.2rem;
	

}



.item{
	display: flex;
	background-color: white;
	/* border-bottom: solid 3px orange; */
	width: 100%;
	min-height: 15rem;
	height: auto;
	align-items: center;
	padding-left: 3rem;
}

.item form{
	padding-right: 2rem;
}



	
.item button {
	display: block;
	font-family:'Times New Roman', Times, serif;
	padding: 1rem;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	cursor: pointer;
	color: #FFFFFF;
	border: 1.9px solid rgb(231, 226, 226);
	border-radius: 1em;
	margin-bottom: 3rem;
}

.item button a {
	text-decoration: none;
}

.item button p {
	display: flex;
	align-self: flex-end;
	justify-content: center;
	font-size: 18px;
	color:#777777;
	padding-top: 1.4rem;
}

.item button:hover {
	border: solid 1px orange;
}

.item h2{
	display: flex;
	height: 10rem;
	margin-top: -3rem;
	position: relative;
	color: #777777;
	left: 3rem;
	width: 40%;
	font-size: 28px;
}

.quantidade{
	display: flex;
	height: 10rem;
	position: relative;
	color: #777777;
	left: 5rem;
	width: 200px;
	font-size: 28px;
	margin-top: -2rem;
}

.quantidade input, .quantidade label{
	display: flex;
	text-align: center;
	width: 180px;
	font-size: 24px;
	color: #534d4d;
}



.quantidade label{
	justify-content: center;
}

.quantidade input{
	display: flex;
	padding-top: 0.5rem;
	border: orange 2px solid;
	margin-top: 1rem;
	padding-bottom: 0.5rem;
	align-items: center;
}

.valor{
	display: flex;
	height: 10rem;
	position: relative;
	color: #777777;
	left: 5rem;
	width: 200px;
	font-size: 28px;
	margin-top: -2rem;
}

.valor input, .valor label{
	display: flex;
	text-align: center;
	width: 180px;
	font-size: 24px;
	color: #534d4d;
}

.valor{
	padding-left: 1rem;
}

.valor label{
	justify-content: center;
}

.valor input{
	display: flex;
	padding-top: 0.5rem;
	border: orange 2px solid;
	margin-top: 1rem;
	padding-bottom: 0.5rem;
	align-items: center;
}

.trash{
	display: flex;
	height: 10rem;
	position: relative;
	padding-left: 3rem;
	padding-top: 3rem;
	color: #777777;
	left: 5rem;
	width: 200px;
	margin-top: -2rem;
}

.checkbox{
	margin-top: -2rem;
}

.trash i:hover {
	color: orange;
}



.meucarrinho{
	display: flex;
	height: 3rem;
	position: relative;
	padding-top: 2rem;
	padding-bottom: 5rem;
	color: #777777;
	left: 5rem;
	font-weight: bold;
	width: 40%;
	font-size: 35px;
}

.finalizar {
	padding-top: 2rem;
	padding:0.5rem;
	display: flex;
	justify-content: flex-end;
  width: 100%;
  height: auto;
}

.finalizar button {
	width: auto;
	text-align: right;
	font-size: 30px;
	font-weight: bold;
	color: white;
	border-radius: 0.2em;
	border: orange 2px solid;
	background-color: orange;
	padding: 1rem;
	padding-right: 2rem;
	padding-left: 2rem;
	margin: 2rem;
}

.finalizar button:hover {
	background-color: grey;
	color: white;
}

@media screen and (max-width: 500px) {
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box
	}


	.corpo{
		display: flex;
		flex-direction: column;
		width: 500px;
		height: 100vh;
	}
	
	.meucarrinho{
		display: flex;
		font-size: 20px;
		width: 100px;
		padding: 0;		
	}

	.item{
		display: flex;
		background-color:red;
		width: 87%;
		border: 2px solid orange;
		height: 200px;
		align-items: center;
		padding-left: 0.3px;
		padding-right: 0.3px;
		padding-top: 0;
	}
	.item button {
		display: block;
		font-family:'Times New Roman', Times, serif;
		padding: 0;
	
		background-color: white;
		cursor: pointer;
		color:white;
		justify-content: flex-start;
		border: none;
		height: 80px;
	}
	.item button a img {
		height: 100px;
		padding-left: 0.1px;
	}
	.checkbox{
		display: none;		

	}

	.item button p{
		display: none;
	}
	.racao{
		width: 70%;
		display: flex;
		flex-direction: row;
		font-size: 18px;
		padding-bottom: 15px;
		margin-left: 2px;
		padding-top: 1px;
	}



	.quantidade{
		display: flex;
		flex-direction: row;
		height: 5rem;
		position: relative;
		color: #777777;
		left: 1rem;
		width: 100px;
		font-size: 3px;
	}
	
	.quantidade input, .quantidade label{
		display: flex;
		text-align: center;
		width: 80px;
		font-size: 15px;
		color: #534d4d;
	}

	.quantidade label{
		justify-content: center;
	}
	
	.quantidade input{
		display: flex;
		padding-top: 0.5rem;
		border: orange 2px solid;
		margin-top: 0.5rem;
		padding-bottom: 0.25rem;
		align-items: center;
	}
	
	.valor{
		display: flex;
		flex-direction: row;
		height: 5rem;
		position: relative;
		color: #777777;
		left: -0.1rem;
		width: 100px;
		font-size: 10px;
	}
	
	.valor input, .valor label{
		display: flex;
		text-align: center;
		width: 80px;
		font-size: 18px;
		color: #534d4d;
	}
	.valor label{
		display: none;
	}
	
	.valor label{
		justify-content: center;
	}
	
	.valor input{
		display: flex;
		border: none;
		padding-bottom: 0.5rem;
		align-items: center;
	}
	.item .trash{
		display: flex;
		flex-direction: row;
		height: 10px;
		width: 10px;
	}

	.contairner2{
		display: flex;
		flex-direction: row;
		height: 50px;
		padding-left: 2px;
	}
	
	.item i{
		margin: 0px;
		padding: 0px;

	}
	form{
		width: auto;
	}
	


}
