*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
}

main {
	font-family: 'Roboto', sans-serif;
	

}
.corpo{
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
	width: 100%;
	max-height: 100vh;
	height: auto;
	padding-top: 8.2rem;
	

}



.item{
	display: flex;
	background-color: white;
	/* border-bottom: solid 3px orange; */
	width: 100%;
	min-height: 15rem;
	height: auto;
	max-height: 100vh;
	align-items: center;
	padding-left: 3rem;
}

.item form{
	padding-right: 2rem;
}



	
.item button {
	display: block;
	font-family:'Times New Roman', Times, serif;
	padding: 1rem;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	cursor: pointer;
	color: #FFFFFF;
	border: 1.9px solid rgb(231, 226, 226);
	border-radius: 1em;
	margin-bottom: 3rem;
}

.item button a {
	text-decoration: none;
}

.item button p {
	display: flex;
	align-self: flex-end;
	justify-content: center;
	font-size: 18px;
	color:#777777;
	padding-top: 1.4rem;
}

.item button:hover {
	border: solid 1px orange;
}




.valor{
	display: flex;
	height: 10rem;
	position: relative;
	color: #777777;
	left: 5rem;
	width: 200px;
	font-size: 28px;
	margin-top: -2rem;
}

.valor input, .valor label{
	display: flex;
	text-align: center;
	width: 180px;
	font-size: 24px;
	color: #534d4d;
}

.valor{
	padding-left: 1rem;
}

.valor label{
	justify-content: center;
}

.valor input{
	display: flex;
	padding-top: 0.5rem;
	border: orange 2px solid;
	margin-top: 1rem;
	padding-bottom: 0.5rem;
	align-items: center;
}

.trash{
	display: flex;
	color: #777777;
	
	
	
}

.checkbox{
	margin-top: -2rem;
}

.trash i:hover {
	color: orange;
}



.produtos{
	display: flex;
	height: 3rem;
	/*position: relative;*/
	/*padding-top: 2rem;
	padding-bottom: 5rem;*/
	color: #777777;
	/*left: 5.8rem;*/
	font-weight: bold;
	font-size: 30px;
}

.finalizar {
	padding-top: 2rem;
	padding:0.5rem;
	display: flex;
	justify-content: flex-end;
  width: 100%;
  height: auto;
}

.finalizar button {
	width: auto;
	text-align: right;
	font-size: 30px;
	font-weight: bold;
	color: white;
	border-radius: 0.2em;
	border: orange 2px solid;
	background-color: orange;
	padding: 1rem;
	padding-right: 2rem;
	padding-left: 2rem;
	margin: 2rem;
}

.finalizar button:hover {
	background-color: grey;
	color: white;
}

#excluir {
	display: none;
}

/*================================ Media 500px ==========================================*/

@media screen and (max-width: 500px) {

	.corpo {
		width: 100vw;
	}
	
	.produtos{
		display: flex;
		position: relative;
		margin-right: 0;
		margin-left: 0;
		font-size: 30px;
		width: auto;
		height: 10vh;
		left: 1rem;
		/* border: 1px solid black;	*/
	}

	.item{
		display: flex;
		/* width: 87%; */
		/* border: 2px solid orange;  */
		height: 200px;
		align-items: center;
		padding-left: 0.3px;
		padding-right: 0.3px;
		padding-top: 0;
	}
	.item button {
		display: block;
		font-family:'Times New Roman', Times, serif;
		padding: 0;
	
		background-color: white;
		cursor: pointer;
		color:white;
		justify-content: flex-start;
		border: none;
		height: 80px;
	}
	.item button a img {
		height: 100px;
		padding-left: 0.1px;
	}
	.checkbox{
		display: none;		

	}

	.item button p{
		display: none;
	}
	.racao{
		width: 100%;
		display: flex;
		flex-direction: row;
		font-size: 18px;
		padding-bottom: 15px;
		margin-left: 2px;
		margin-right: 1rem;
		padding-top: 1px;
		
	}

	.conteiner {
		display: flex;
		flex-direction: column;
		height: 25vh;
		/* border: 1px solid black; */
	}

	.quantidade {
		position: relative;
		left: 1rem;
		
	}

	#unid {
		display: flex;
		text-align: center;
		height: 5vh;
		color: #777777;
		border: 2px solid orange;
	}
	
	.valor{
		display: flex;
		position: relative;
		left: 1rem;
		top: 3rem;
		height: 7vh;
		flex-direction: column;
		font-size: 15px;
		padding: 0;
		/* border: 1px solid #534d4d; */
	}

	.valor .valor_num {
		padding-top: 0.5rem;
		color: orange;
		font-weight: bold;
		font-size: 20px;
		
	}
	
	.trash{
		display: flex;
		flex-direction: column;
		position: relative;
		bottom: 3rem;
		left: 1rem;
		top: 4rem;
	}

	#excluir {
		display: block;
		color: #777777;
	}

	#lixo {
		display: none;
	}
	
	.texto {
		color: #777777;
		position: relative;
		bottom: 1.5rem;
		
	}		
	
	


}
