*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main * {
	font-family: 'Roboto', sans-serif;

}
.corpo{
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
	width: 99vw;
	height: auto;
	padding-top: 8.2rem;
	

}

footer{
	display: flex;
	position: relative;
	top: auto;
	
}

.item{
	display: flex;
	background-color: white;
	/* border-bottom: solid 3px orange; */
	width: 100%;
	min-height: 15rem;
	height: auto;
	align-items: center;
	padding-left: 3rem;
}

.item form{
	padding-right: 2rem;
}



	
.item button {
	display: block;
	font-family:'Times New Roman', Times, serif;
	padding: 1rem;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	cursor: pointer;
	color: #FFFFFF;
	border: 1.9px solid rgb(231, 226, 226);
	border-radius: 1em;
	margin-bottom: 3rem;
}

.item button a {
	text-decoration: none;
}

.item button p {
	display: flex;
	align-self: flex-end;
	justify-content: center;
	font-size: 18px;
	color:#777777;
	padding-top: 1.4rem;
}

.item button:hover {
	border: solid 1px orange;
}

.item h2{
	display: flex;
	height: 10rem;
	position: relative;
	color: #777777;
	left: 3rem;
	width: 40%;
	font-size: 28px;
}

.quantidade{
	display: flex;
	height: 10rem;
	position: relative;
	color: #777777;
	left: 5rem;
	width: 200px;
	font-size: 28px;
}

.quantidade input, .quantidade label{
	display: flex;
	text-align: center;
	width: 180px;
	font-size: 24px;
	color: #534d4d;
}



.quantidade label{
	justify-content: center;
}

.quantidade input{
	display: flex;
	padding-top: 0.5rem;
	border: orange 2px solid;
	margin-top: 1rem;
	padding-bottom: 0.5rem;
	align-items: center;
}

.valor{
	display: flex;
	height: 10rem;
	position: relative;
	color: #777777;
	left: 5rem;
	width: 200px;
	font-size: 28px;
}

.valor input, .valor label{
	display: flex;
	text-align: center;
	width: 180px;
	font-size: 24px;
	color: #534d4d;
}

.valor{
	padding-left: 1rem;
}

.valor label{
	justify-content: center;
}

.valor input{
	display: flex;
	padding-top: 0.5rem;
	border: orange 2px solid;
	margin-top: 1rem;
	padding-bottom: 0.5rem;
	align-items: center;
}

.trash{
	display: flex;
	height: 10rem;
	position: relative;
	padding-left: 3rem;
	padding-top: 3rem;
	color: #777777;
	left: 5rem;
	width: 200px;
}

.trash i:hover {
	color: orange;
}



.meucarrinho{
	display: flex;
	height: 3rem;
	position: relative;
	padding-top: 2rem;
	padding-bottom: 3rem;
	color: #777777;
	left: 5rem;
	font-weight: bold;
	width: 40%;
	font-size: 35px;
}

.finalizar {
	padding-top: 2rem;
	padding:0.5rem;
	display: flex;
	justify-content: flex-end;
  width: 100%;
  height: auto;
}

.finalizar button {
	width: auto;
	text-align: right;
	font-size: 30px;
	font-weight: bold;
	color: white;
	border-radius: 0.2em;
	border: orange 2px solid;
	background-color: orange;
	padding: 1rem;
	padding-right: 2rem;
	padding-left: 2rem;
	margin: 2rem;
}

.finalizar button:hover {
	background-color: grey;
	color: white;
}

