* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header * {
	font-family: 'Roboto', sans-serif;
	font-weight: 550;
}

header {
	width: 100%;
	max-height: 22vh;
	background-color:#FFFFFF;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	border-bottom:solid 2px orange;
	position: fixed;
	z-index: 5;
}

header form {
background-color: orange;
border: solid 1px orange;
border-radius: 0.3em;
padding: 0.3em;
box-shadow: 0px 1px 10px rgba(159, 159, 159, 0.65);
}

nav {
   display: block;
   height: 128px;
   padding-top: 30px;
}


header .nav-bar {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 3rem;
}

header .nav-bar a {
	display: flex;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	text-decoration: none;
	color:#777777;
	font-size: 22px;
	height: 5px;
	
}

header .link {
	display: flex;
	width: 25rem;
}

header .link {
	display: flex;
	justify-content: space-evenly;
	padding-top: 2rem;
}

.carrinho a, .cadastre a, .login a {
	color:#777777;
	text-decoration: none;
	font-size: 22px;
	margin-left: 2.5rem;
	
}

.btn_icon_header {
	display: none;
	background-color: transparent;
	border: 1px solid orange;
	border-radius: 0.2em;
	cursor: pointer;
	color:#777777;
	width: 40px;
	height: 38px;
	font-size: 24px;
	margin-left: 1.5rem;
}

.btn_icon_header:hover {
	background-color: orange;
	color: #FFFFFF;
}

header div a img {
	max-height: 118px;
}

.logo_2 img{
	display: none;
	
}

.container {
	display: flex;
	width: 100%;
	margin-right: 2rem;
	height: 6vh;
}

header form {
	display: flex;
	justify-content: space-evenly;
	width: 50vw;
	height: 6vh;
	
}

header form input {
width: 90%;
}

form input, form button {
font-size: 1.2em;
border-radius: 0.2em;
border: none;
padding: 0.1em;


}

form button {
background-color: orange;
cursor: pointer;
color: #FFFFFF;

}

form button:hover {
background-color: #FFFFFF;
color: orange;
}

header div i {
font-size: 35px;
}

.carrinho {
	height: 35px;
}

header .nav-bar a:hover {
background-color: #FFFFFF;
color: orange; 
}

header div i:hover {
background-color: #FFFFFF;
color: orange;
}

header div a:hover {
background-color: #FFFFFF;
color: orange;
}

header .branco {
	display: flex;
	justify-content: center;
	height: 10px;
	width: 40rem;
}

header .formulario {
	display: flex;
	
}

@media screen and (max-width: 1286px){
	.login a{
		display: block;
	}

	.cadastre a {
		display: none;
	}
}

@media screen and (max-width: 1146px){
	.login a, header .nav-bar a, .logo{
		display: none;
	}

	.btn_icon_header {
		display: block;
		
	}

	
	.logo_2 img{
		display: block;
		max-height: 90px;
	}

	header {
		max-height: 17vh;
	}
}

@media screen and (max-width: 973px){
	header {
		max-height: 16vh;
	}

	.logo_2 img{
		max-height: 80px;
	}

	.carrinho{
		position: relative;
		right: 1rem;
	}

}

@media screen and (max-width: 870px){
	.carrinho{
		position: relative;
		right: 0.5rem;
	}
	.btn_icon_header {
		position: relative;
		right: 0.5rem;
	}
}


@media screen and (max-width: 820px){
	.logo_2 img{
		margin-top: 0.6rem;
		max-height: 70px;
	}

	.carrinho{
		position: relative;
		right: 0.5rem;
	}
	.btn_icon_header {
		position: relative;
		right: 0.5rem;
	}
	
}

@media screen and (max-width: 770px){
	.carrinho {
		display: none;
	}

	.btn_icon_header {
		position: relative;
		right: 0.5rem;
	}
	
}

@media screen and (max-width: 590px){
	.logo_2 img{
		margin-top: 0.6rem;
		max-height: 60px;
	}

}

@media screen and (max-width: 540px){
	.logo_2 {
		position: relative;
		right: 0.5rem;
	}

	.logo_2 img{
		margin-top: 1rem;
		max-height: 55px;
	}

	.btn_icon_header {
		position: relative;
		right: 0.7rem;
	}

}