* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*-----------------------MAIN----------------------------------*/

main {
height: 100%;
width: 100%;
border: 15px solid #FFFFFF;
box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
padding-top: 8.5rem;
}

main section nav {
display: flex;
list-style: none;
justify-content: space-between;
margin: 0;
padding: 0;
height: 260px;
padding-bottom: 1.5rem;
}

main section nav button {
display: block;
font-family:'Times New Roman', Times, serif;
padding: 1rem;
background-color: #FFFFFF;
cursor: pointer;
color: #FFFFFF;
border: 1.9px solid rgb(231, 226, 226);
border-radius: 0.5em;
}

main section nav button a {
text-decoration: none;
}

main section nav button p {
display: flex;
align-self: flex-end;
justify-content: center;
font-size: 18px;
color:#777777;
padding-top: 1.4rem;

}

main section nav button:hover {
border: solid 1px orange;
}

.promoções {
display: flex;
justify-content: flex-start;
color:grey;
font-size: 17px;
padding-top: 0.3rem;
padding-bottom: 1.4rem;
}

section div i {
padding-left: 10px;
padding-top: 2px;
font-size: 26px;
color: orange;
}
/*------------------------------carrossel-------------------------------*/

.galery{
  width: 100%;
  height: 310px;
  background-color: white;
  overflow: hidden;
  }
.galery .fotos{
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.galery .fotos img{
  width: 98%;
  height: 300px;
}



/*------------------------------Galeria-------------------------------*/
.ofertas {
display: flex;
justify-content: flex-start;
color:#777777;
font-size: 17px;
padding-bottom: 1.5rem;
}

.imagens {
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: space-between;
margin: 0;
padding: 0;
height: 260px;
padding-bottom: 1.5rem;
}

.imagens button {
display: block;
font-family:'Times New Roman', Times, serif;
padding: 1rem;
padding-bottom: 10px;
background-color: #FFFFFF;
cursor: pointer;
color: #FFFFFF;
border: 1.9px solid rgb(231, 226, 226);
border-radius: 0.5em;
}

.imagens button a {
text-decoration: none;
}

.imagens button p {
display: flex;
align-self: flex-end;
justify-content: center;
font-size: 18px;
color:#777777;
padding-top: 1.4rem;
}

.imagens button:hover {
border: solid 1px orange;
}

.vendidos {
display: flex;
justify-content: flex-start;
color:#777777;
font-size: 17px;
padding-bottom: 1.5rem;
}

.ícones {
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: space-between;
margin: 0;
padding: 0;
height: 260px;
padding-bottom: 1.5rem;
}

.ícones button {
display: block;
font-family:'Times New Roman', Times, serif;
padding: 1rem;
padding-bottom: 10px;
background-color: #FFFFFF;
cursor: pointer;
color: #FFFFFF;
border: 1.9px solid rgb(231, 226, 226);
border-radius: 0.5em;
}

.ícones button a {
text-decoration: none;
}

.ícones button p {
display: flex;
align-self: flex-end;
justify-content: center;
font-size: 18px;
color:#777777;
padding-top: 1.4rem;
}

.ícones button:hover {
border: solid 1px orange;
}

