*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main * {
  font-family: 'Roboto', sans-serif;
  
}

.corpo{
    padding-top: 2rem;
    width: 99vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    padding-top: 10rem;
}
.firstbloco{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 50%;
}
.product{
  position: relative;
  width: 35%;  
  height: 100%; 
  top: 15px;
  
}
.product img{
  width: 420px;
  height: 400px;
  position: relative;
  animation: estilo 5s 3;
}
  
.informacao{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 100px;
    color: #777777;
    top: 40px;
    width: 30%;
  }

.informacao h2 {
  width: 37vw;
}

.informacao ul > li{
    display: block;
    position: relative;
    top: 20px;
    margin-top: 15px;
    font-size: 18px;
}


.content{
  display: flex;
  flex-direction: column;
  position: relative;
  border: none;
  width: 30%;
  right: 70px;
  height: 400px;
  top: 50px;
  font-size: 28px;
  
}

.tamanho {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#peso {
  width: 25vw;
  height: 40px;
  font-size: 20px;
  text-align: center;
  color: white;
  border-radius: 0.3rem;
  outline: none;
  background-color: orange;
  border: none;
  /*box-shadow: 0px 1px 10px #777777;*/
  font-weight: 500;
  cursor: pointer;
}

.preco {
  position: relative;
  top: 2rem;
  margin-left: 2rem;
}

.preco p {
  font-size: 16px;
  color: #777777;
  font-weight: 450;
}

.preco h1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(255, 145, 0);
  font-size: 40px;
}

.content .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 5rem;
  margin-left: 2rem;
  
}

#unid {
  width: 10vw;
  height: 40px;
  font-size: 20px;
  text-align: center;
  color: rgb(255, 145, 0);
  border-radius: 0.3rem;
  outline: none;
  background-color: white;
  border: 1px solid rgb(255, 145, 0);
  font-weight: 500;
  cursor: pointer;
}

.car {
  width: 14vw;
  height: 40px;
}

.car button {
 text-align: center;
  font-size: 20px;
  font-weight: 500;
  color:rgb(255, 145, 0);
  
}
@media (max-width: 600px)
{
  .informacao{
    display: flex;
    flex-direction: column;
    right: 100px;
    color: #777777;
    top: 40px;
    width: 30%;
 
}

.product img {
   width: 200px; 
  height: 200px;
  position: relative; 
  animation: estilo 5s 3;
}


.informacao h2{
  display: flex;
  flex-direction: column;
  right: 100px;
  color: #777777;
  top: 40px;
  width: 30%;
}

  .corpo {
    padding-top: 12px;
    width: 99vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }

    .tamanho {
      display: flex;
      justify-content: center;
      margin-top: 0px;



    }
    .content {
      display: flex;
      flex-direction: column;
      position: relative;
      border: none;
      width: 30%;
      right: 70px;
      height: 400px;
      top: 50px;
       font-size: 15px; 
      margin-left: 75px;

    }

    #peso {
      /* width: 25vw; */
      height: 40px;
      /* font-size: 20px; */
      text-align: center;
      color: white;
      border-radius: 0.3rem;
      outline: none;
      background-color: orange;
      border: none;
      box-shadow: 0px 1px 10px #777777;
      font-weight: 500;
      cursor: pointer;
      /* top: 100px; */
      /* bottom: 50px; */
      /* display: flex; */
      /* flex-wrap: nowrap; */
      margin-bottom: 75px;
  }


.preco p {

  margin-bottom: 30px;
}











}