* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

main {
	background-color: rgb(197, 193, 193);
	width: 100%;
}

main .container {
	display: flex;
	justify-content: center;
	mask-origin: 0;
}

main form {
	max-width: 600px;
	background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
	margin-top: 7rem;
    justify-content: center;
	border-radius: 1rem;
	border: none;
}

main form .titulo {
	font-size: 33px;
	color: rgb(238, 128, 2);
	text-align: center;
	font-weight: 300;
    line-height: 40px;
}

main .formulario {
    color: #3f3838;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 1rem;
}

main .formulario input, 
main .formulario select, 
main .formulario textarea {
    width: 100%;
    height: 40px;
    left: 123px;
    top: 294px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
	border-radius: 0.3rem;
	font-size: 16px;
	padding-left: 0.4rem;
	margin-top: 0.5rem;
	outline-color:rgb(238, 128, 2);
	outline: 1;
}

main .formulario textarea {
	height: 160px;
}

main form .entrar {
	display: flex;
	justify-content: center;
		
}

main form .entrar button {
	width: 40%;
	height: 40px;
	font-size: 23px;
	color: white;
	background-color: rgb(238, 128, 2);
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;
	margin-bottom: 5rem;
}

main form .entrar button:hover {
	background-color: rgb(197, 109, 9);
}

main .termos {
    text-align: center;
	color: #686060;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

main .termos label {
    padding-left: 0.3rem;
   
}

main .termos a {
    text-decoration: none;
    color: rgb(238, 128, 2);
}

main .termos input:hover {
    box-shadow: 0 1px 15px rgb(197, 109, 9);
    
}

main .copy {
	position: relative;
	bottom: 2.5rem;
	right: 10px;
	font-size: 16px;
	color: rgb(58, 52, 52);
	text-align: center;
	font-weight: 100;
    
}

@media screen and (max-width: 1024px){
	header {
		width: 100%;
	}

	header .logo img {
		display: block;
		max-height: 100px;
	}

	header .seguro img {
		position: relative;
		bottom: 0.6rem;
		max-height: 60px;
	}
	main {
		max-height: 220vh;
		height: auto;
	}
	
	main form {
		height: 95%;
		max-width: 150%;
		width: auto;
	}

	main .titulo {
		margin-bottom: 2rem;
	}

	main form .entrar button {
		margin-top: 2rem;
	}

	main .formulario input {
		display: flex;
		flex-direction: column;
	}

	main .copy {
		margin-left: 2rem;
		margin-top: 20vh;
	}
		
}

@media screen and (max-width: 900px){
	header .logo img {
		display: block;
		max-height: 95px;
	}

	main {
		max-height: 220vh;
		height: auto;
	}
	
	main form {
		height: 95%;
		max-width: 100%;
		width: auto;
	}

	main .formulario input {
		display: flex;
		flex-direction: column;
	}

	main .copy {
		margin-left: 2rem;
		margin-top: 20vh;
	}
}

@media screen and (min-width: 1025px){
	main form {
		margin-top: 10rem;
	}

	main #nome {
		margin-bottom: 1rem;
	}

	main h3 {
		margin-bottom: 1rem;
	}

	main .copy {
		margin-left: 2rem;
		margin-top: 20vh;
	}
}

@media screen and (min-width: 769px){
	main form {
		width: 60%;
	}
}

@media screen and (max-width: 800px){
	main {
		height: auto;
	}
	
	main form {
		height: 95%;
		width: auto;
	}

	main .formulario input {
		display: flex;
		flex-direction: column;
	}

	main .copy {
		margin-left: 2rem;
		margin-top: 20vh;
	}

}

@media screen and (max-width: 700px){
	header .logo img {
		display: block;
		max-height: 90px;
	}

	main {
		height: 240vh;
	}
	
	main form {
		height: 90%;
		max-width: 200%;
		width: auto;
	}

	main .formulario input {
		display: flex;
		flex-direction: column;
	}

	main .copy {
		position: relative;
		margin-left: 2rem;
		top: 1rem;
	}

	
}

@media screen and (max-width: 600px){
	header .seguro img {
		position: relative;
		max-height: 50px;
		bottom: 0.8rem;
	}

	header .logo img {
		display: block;
		max-height: 85px;
	}

	main {
		max-height: 220vh;
	}
	
	main form {
		height: 90%;
		max-width: 230%;
		width: auto;
	}

	main .formulario input {
		display: flex;
		flex-direction: column;
	}

	main .copy {
		margin-left: 2rem;
		margin-top: 7rem;
	}

}