@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 80%;
}

form {
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 200px;
    border: 0.1rem solid #333;
    padding: 1rem;
}