* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header * {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

header {
	width: 100%;
	max-height: 22vh;
	background-color:#FFFFFF;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	border-bottom:solid 2px orange;
	position: fixed;
	z-index: 5;
}

header form {
	background-color: orange;
	border: solid 1px orange;
	border-radius: 0.3em;
	padding: 0.3em;
	box-shadow: 0px 1px 10px rgba(159, 159, 159, 0.65);
}

nav {
   display: block;
   height: 128px;
   padding-top: 30px;
}


header .nav-bar {
	display: flex;
	flex-direction: row;
	gap: 3em;
	list-style: none;
	padding-top: 0.7rem;
}

header .nav-bar a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color:#777777;
	font-size: 22px;
	height: 5px;
	
}

header .link {
	display: flex;
	width: 25rem;
}

header .link {
	display: flex;
	justify-content: space-evenly;
	padding-top: 2rem;
}

.carrinho a, .cadastre a, .login a {
	color:#777777;
	text-decoration: none;
	font-size: 22px;
	margin-left: 2.5rem;
	
}

.btn_icon_header {
	display: none;
	background-color: transparent;
	border: none;
	border-radius: 0.2em;
	cursor: pointer;
	color:#777777;
	width: 40px;
	height: 40px;
	margin-left: 1.5rem;
}

.btn_icon_header:hover {
	color: orange;
}

.icon_x {
	display: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color:#777777;
	
	
}

.icon_x:hover {
	color: orange;
}

header div a img {
	max-height: 118px;
	padding-right: 1rem;
}

.logo_2 {
	display: none;
}

.container {
	display: flex;
	width: 100%;
	margin-right: 2rem;
	height: 6vh;
}

header form {
	display: flex;
	justify-content: space-evenly;
	width: 50vw;
	height: 6vh;
	
}

header form input {
	width: 90%;
	outline-color: orange;
}

form input, form button {
font-size: 1.2em;
border-radius: 0.2em;
border: none;
padding: 0.1em;


}

form button {
background-color: orange;
cursor: pointer;
color: #FFFFFF;

}

form button:hover {
background-color: #FFFFFF;
color: orange;
}

header div i {
font-size: 35px;
}

.carrinho {
	height: 35px;
}

header .nav-bar:hover {
	color: orange; 
}

header div i:hover {
background-color: #FFFFFF;
color: orange;
}

header div a:hover {
	color: orange;
}

header .branco {
	display: flex;
	justify-content: center;
	height: 10px;
	width: 40rem;
}

header .formulario {
	display: flex;
	
}

header .favoritos, .conta, .cart, #arrow, #icon {
	display: none;
}

header #icon {
	background-color: rgb(146, 146, 146);
}

@keyframes showSidebar {
	from {right: -100vw;}
	top {right: -1vw;}
}

@media screen and (max-width: 1319px){
	header .entrar {
		display: none;
	}

	header .cadastre {
		position: relative;
		padding-right: 2rem;
	}

	header #arrow {
		position: relative;
		bottom: 1.5rem;
		display: flex;
	} 
}

@media screen and (max-width: 1146px){
	header {
		max-height: 17vh;
	}

	header .btn_icon_header {
		display: block;
	}

	header .nav-bar {
		position: absolute;
		flex-direction: column;
		top: 0;
		background-color: rgb(146, 146, 146); /*#ffffd9*/
		height: 100vh;
		max-width: 50vw;
		width: auto;
		padding: 1em;
		animation-duration: 1s;
		right: -100vw;
		box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
	}

	header .nav-bar a {
		color: #FFFFFF;
		
	}

	.icon_x {
		display: block;
		color: #FFFFFF;
	}

	.logo img{
		display: block;
		max-height: 90px;
		margin-top: 0.4rem;
	}

	header #icon {
		display: block;
		padding-right: 1rem;
	}
}

@media screen and (max-width: 1110px){
	header #arrow {
		display: none;
	}

	header .conta {
		display: block;
	}
}

@media screen and (max-width: 973px){
	header {
		max-height: 16vh;
	}

	.logo img{
		max-height: 85px;
	}

	.carrinho{
		position: relative;
		right: 1rem;
	}

}

@media screen and (max-width: 900px){
	.carrinho{
		position: relative;
		right: 0.5rem;
	}
	.btn_icon_header {
		position: relative;
		right: 0.5rem;
	}

	.cadastre {
		display: none;
	}

	header .favoritos{
		display: block;
	}
}


@media screen and (max-width: 820px){
	.formulario form input {
		margin-right: 0.3rem;
	}

}

@media screen and (max-width: 770px){
	.carrinho {
		display: none;
	}

	.btn_icon_header {
		position: relative;
		right: 0.5rem;
	}

	header .cart {
		display: block;
	}
	
}

@media screen and (max-width: 600px){
	header form {
		height: 5.5vh;
		margin-top: 0.25rem;
	}

	.logo img{
		margin-top: 0.6rem;
		max-height: 80px;
	}

}

@media screen and (max-width: 500px){
	header {
		max-height: 15.5vh;
	}

	header form {
		height: 5.2vh;
		margin-top: 0.3rem;
	}

	header form input {
		font-size: 18px;
	}

	.logo img{
		margin-top: 1rem;
		max-height: 72px;
	}

	.btn_icon_header {
		position: relative;
		right: 1.1rem;
	}

}