* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	max-height: 10rem;
	background-color:#FFFFFF;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	border-bottom:solid 2px orange;
	position: fixed;
	z-index: 1;
}
header div a img {
    max-height: 128px;
	height: auto;
}

header .seguro img {
	max-height: 180px;
	max-width: 180px;
	height: auto;
	width: auto;
	margin-top: 2rem;
	margin-right: 2rem;
}