* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*-----------------------MAIN----------------------------------*/

main *{
  font-family: 'Roboto', sans-serif;
}

main {
height: 180vh;
width: 100%;
border: 15px solid #FFFFFF;
box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
padding-top: 2rem;
}

main section nav {
display: flex;
list-style: none;
justify-content: space-between;
margin: 0;
padding: 0;
height: 260px;
padding-bottom: 1.5rem;
}

main section nav button {
display: block;
padding: 1rem;
background-color: #FFFFFF;
cursor: pointer;
color: #777777;
border: 1.9px solid rgb(231, 226, 226);
border-radius: 0.5em;
}

main section nav button a {
text-decoration: none;
}

main section nav button p {
display: flex;
align-self: flex-end;
justify-content: center;
font-size: 18px;
color:#777777;
padding-top: 1.4rem;

}

main section nav button:hover {
border: solid 1px orange;
}

.promoções {
display: flex;
justify-content: flex-start;
color:grey;
font-size: 26px;
padding-top: 0.3rem;
padding-bottom: 1.4rem;
}

section div i {
padding-left: 10px;
padding-top: 2px;
font-size: 26px;
color: orange;
}
/*------------------------------carrossel-------------------------------*/

.galery{
  width: 100%;
  height: 310px;
  background-color: white;
  overflow: hidden;
  }

.galery .fotos{
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.galery .fotos img{
  width: 98%;
  height: 300px;
}



/*------------------------------Galeria-------------------------------*/

.ofertas {
display: flex;
justify-content: flex-start;
color:#777777;
font-size: 17px;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
}

.imagens {
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: space-between;
height: 220px;
}

.imagens button {
display: block;
background-color: #FFFFFF;
padding: 1rem;
cursor: pointer;
color: #777777;
border: 1.9px solid rgb(231, 226, 226);
border-radius: 0.5em;
width: 200px;
height: 270px;
}

.imagens button a {
text-decoration: none;
}

.imagens button a img{
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;  
}

#nome {
display: flex;
justify-content: center;
font-size: 16px;
color:#777777;

}

#descricao {
display: flex;
justify-content: center;
font-size: 12px;
color:#777777;
padding-top: .5rem;
word-wrap: break-word;
width: 160px;
  }

#preco {
display: flex;
justify-content: center;
font-size: 16px;
color:orange;
padding-top: .5rem;
}

.imagens button:hover {
border: solid 1px orange;
}

.vendidos {
display: flex;
justify-content: flex-start;
color:#777777;
font-size: 18px;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
}

.icones {
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: space-between;
margin: 0;
padding: 0;
height: 220px;

}

.icones button {
display: block;
font-family:'Times New Roman', Times, serif;
padding: 1rem;
padding-bottom: 10px;
background-color: #FFFFFF;
cursor: pointer;
color: #777777;
border: 1.9px solid rgb(231, 226, 226);
border-radius: 0.5em;
width: 200px;
height: 270px;
}

.icones button a {
text-decoration: none;
}

.icones button a img{
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;  
}

.icones button:hover {
border: solid 1px orange;
}

