

.sidebar {
  display: inline;
  background:white;
  top: 8.6rem;
  bottom: 8rem;
  position: absolute;
  left: 0;
  width: 250px;
  transition: 0.5s;
  transition-property: left;
  z-index: 4;
}


.sidebar h4{
  color: gray;
  margin-top: 0;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.sidebar a{
  color: gray;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: orange;
}

.sidebar i{
  padding-right: 10px;
}
