<!DOCTYPE html>
<html lang="pt-br">

<!-- ========================HEAD========================HEAD======================== -->
  
<%- include('partials/head',{links:['acessar']}) %>

<!-- ========================BODDY========================BODDY======================== -->

<body>

  <!-- ========================HEADER========================HEADER======================== -->

  <%- include("partials/header2") %> 

  <!-- ==========================MAIN============================MAIN========================== -->

  <main> 
    <div class="container">
      <form action="acessar" method="post">
        <div class="titulo">Acesse sua conta</div>
        <div class="formulario">
          <label for="email">Email</label>
          <input id="email" type="email" id="email" name="email" placeholder="Digite seu email*" required> 
          <div class="branco"></div>
          <label for="email">Senha</label>
          <input type="password" id="senha" name="senha" placeholder="Digite sua senha*" required>
        </div>

        <div class="entrar"><button type="submit">Entrar</button></div>

        <div class="aqui">Não tem conta? <a href="">Crie uma agora!</a></div>
      </form>
    </div> 
    
    <div class="copy"><p>Copyright© 2022 Buddy Pet Corporated - Todos os direitos reservados</p></div>
    
  </main>
</body>
</html>