<!DOCTYPE html>
<html lang="pt-BR">

<!-- ========================HEAD=============================HEAD============================= -->
  
<%- include('partials/head',{links:['header','sidebar','cachorros','animation','footer']}) %>

<!-- =============================BODDY========================BODDY================================ -->

<body>
  
  <!--=============================HEADER==============================HEADER=============================== -->

  <%- include('partials/header') %>
    
  <!--==============================MAIN===============================MAIN==================================== -->
  <main>
    <div class="contain">
      <div class="sidebar">
        <h4>Filtro</h4>
        <a href="#"><i class="fas fa-drumstick-bite"></i><span>Ração e Petiscos</span></a>
        <a href="#"><i class="fas fa-capsules"></i><span>Farmácia e Beleza</span></a>
        <a href="#"><i class="fas fa-blind"></i><span>Coleiras e Guias</span></a>
        <a href="#"><i class="fas fa-futbol"></i><span>Brinquedos</span></a>
        <a href="#"><i class="fas fa-home"></i><span>Casas e Camas</span></a>
        <a href="#"><i class="fas fa-gear"></i><span>Acessórios</span></a>
      </div>
    
      <div class="cachorros">
        <h4>Cachorros</h4>
        <p>Todo tutor de cachorro deve estar atento às necessidades e cuidados básicos para uma vida pet tranquila, saudável e feliz. Pensando nisso, é imprescindível obter itens como uma ração de qualidade, brinquedos educativos, casinha de cachorro, medicamentos e outros objetos indispensáveis. </p>
      </div>

      <div class="produtos">
        <div class="imagens">
          <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
          <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/royal.jpg" alt=""><p>Produto 2</p></button></a>
          <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/bravecto.jpg" alt=""><p>Produto 3</p></button></a>
          <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/racao_hills.jpg" alt=""><p>Produto 4</p></button></a>
          <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/super-secao.jpg" alt=""><p>Produto 5</p></button></a>
          <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
          <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/bravecto.jpg" alt=""><p>Produto 3</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/racao_hills.jpg" alt=""><p>Produto 4</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/super-secao.jpg" alt=""><p>Produto 5</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
       </div>
      </div>
     </div>
  </main>

  <!--===============================FOOTER===============================FOOTER============================== -->

  <%- include('partials/footer') %>

  <!--===============================FOOTER===============================FOOTER============================== -->

</body>
</html>

