<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/b9dfb2e070.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/carrinho.css">
  <title>
    <%= title %>
  </title>
</head>

<!-- ========================BODDY========================BODDY======================== -->

<body>

  <!-- ========================HEADER========================HEADER======================== -->

  <%- include('partials/header') %>  
  <!-- ========================MAIN========================MAIN======================== -->

  <main class="corpo">

    <div class="produtos"><p>Produtos</p></div>
    <div class="itens">
      <div class="item">
        <div class="descricao">
          <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></a></button>
          <div class="texto">Ração Golden Special para Cães Adultos Frango e Carne 15 kg</div>
        </div>
        <div class="conteiner">
          <form class="quantidade">
            <select id="unid">
              <option selected disabled>QUANTIDADE</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </form>
          
          <div class="valor">
            <div class="valor_num">R$ 129,90</div>  
          </div>
          <div class="trash">
            <a id="excluir" href="">Excluir</a>
            <i id="lixo" class="fa fa-trash-o" style="font-size:26px"></i>
          </div>
      </div>
    </div>
      
      
    </div>  
  </main>

   

<!-- ========================FOOTER========================FOOTER======================== -->

      <%- include('partials/footer') %>
  
</body>
<script>
  var header = document.getElementById('header');
  var nav_bar = document.getElementById('nav_bar');
  var showSidebar = false;

  function toggleSidebar()
  {
    showSidebar = !showSidebar;
    if(showSidebar)
    {
      nav_bar.style.right = '-1vw';
    }
    else
    {
      nav_bar.style.right = '-100vw';
    }
  }
</script>
</html>