<!DOCTYPE html>
<html lang="pt-br">

<!-- ========================HEAD=============================HEAD============================= -->
  
<%- include('partials/head',{links:['header2','criarConta']}) %>

<!-- ============================BODDY========================BODDY============================= -->

<body>

  <!-- ========================HEADER========================HEADER======================== -->

  <%- include("partials/header2") %>
  
  <!-- ==========================MAIN============================MAIN========================== -->
   
    <main> 
      <div class="container">
        <form action="acessar" method="post">
          <div class="formulario">
            <h3 class="titulo">Crie sua conta</h3>
            <label for="nome">Nome Completo</label>
            <br>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo" required>
            <br>
            <label for="email">Email</label>
            <br>
            <input type="email" id="email" name="email" placeholder="Digite seu email" required> 
            <br>
            <label for="celular">Celular</label>
            <br>
            <input type="tel" id="celular" name="celular" placeholder="DDD + celular" required> 
            <br>            
            <label for="nascimento">Nascimento</label>
            <br>
            <input type="text" id="nascimento" name="nascimento" onfocus="(this.type='date')" placeholder="Digite sua data de nascimento" required> 
            <br>
            <label for="cpf">CPF</label>
            <br>
            <input type="text" id="cpf" name="cpf" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" placeholder="Digite o seu CPF" required> 
            <br>
            <label for="email">Senha</label>
            <br>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            <br>
            <label for="email">Confirmar a senha</label>
            <br>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
          </div>
          
          <div class="termos"><input type="checkbox" id="termos" value="termos"><label for="integral">Concordo com os <a href="">termos e condições</a></label></div>

          <div class="entrar"><button type="submit">Cadastrar</button></div>
  
        </form>
      </div> 
      
      <div class="copy">Copyright© 2022 Buddy Pet Corporated - Todos os direitos reservados</div>
      
    </main>
</body>
</html>