<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">.
    <title>Buddy Pet - Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <form>
        <label for="secao-produto">Qual é a Seção do Produto?</label>
        <br>
        <select name="secao-produto" id="secao-produto">
            <option selected disabled>Selecione a Seção</option>
            <option value="CACHORROS">Cachorros</option>
            <option value="GATOS">Gatos</option>
            <option value="AVES">Aves</option>
        </select>
        <br>
        <br>
        <label for="tipo-produto">Tipo de Produto:</label>
        <br>
        <select name="tipo-produto" id="tipo-produto">
            <option selected disabled>Selecione o tipo de Produto</option>
            <option value="RAÇÕES">Rações</option>
            <option value="REMÉDIOS">Remédios</option>
            <option value="VACINAS">Vacinas</option>
            <option value="CASINHAS">Casinhas</option>
        </select>
        <br>
        <br>
        <label for="buscar-produto">Buscar Produto:</label>
        <br>
        <select name="buscar-produto" id="tipo-produto">
            <option selected disabled>Selecione o Produto</option>
        </select>
        <br>
        <br>
        <label for="editar-nome-produto">Editar Nome do Produto:</label>
        <br>
        <input type="text" id="editar-nome-produto" name="editar-nome-produto" placeholder="Digite o novo nome do Produto" required>
        <br>
        <br>
        <label for="editar-preco-produto">Editar Preço do Produto:</label>
        <br>
        <input type="number" id="editar-preco-produto" name="editar-preco-produto" placeholder="Digite o novo preço do Produto" required>
        <br>
        <br>
        <label for="editar-descricao-produto">Editar Descrição do Produto:</label>
        <br>
        <textarea name="editar-descricao-produto" id="editar-descricao-produto" cols="30" rows="10"></textarea>
        <br>
        <br>
        <label for="editar-imagem-produto">Anexe uma nova imagem do Produto:</label>
        <br>
        <input type="file" name="editar-imagem-produto" accept=".jpg">
        <br>
        <br>
        <button type="reset">Limpar Campos</button>
        <br>
        <br>
        <button type="submit">Salvar Edição</button>
    </form>
</body>
</html>