<!DOCTYPE html>
<html lang="pt-BR">

<!-- ========================HEAD=============================HEAD============================= -->
  
<%- include('partials/head',{links:[/*'header','criarConta'*/]}) %>

<!-- ============================BODDY========================BODDY============================= -->

<body>

    <!-- ========================HEADER========================HEADER======================== -->

    <%- include("partials/header2") %>
  
    <!-- ==========================MAIN============================MAIN========================== -->
    
    <h1>Cadastrar Produto</h1>
    <form action="/produtos" method="POST">
        <label for="secao-produto">Qual é a Seção do Produto?</label>
        <br>
        <select name="categoria" id="secao-produto">
            <option selected disabled>Selecione a Seção</option>
            <option value="cachorros">Cachorros</option>
            <option value="gatos">Gatos</option>
            <option value="aves">Aves</option>
        </select>
        <br>
        <br>
        <label for="tipo-produto">Tipo de Produto:</label>
        <br>
        <select name="tipoProduto" id="tipo-produto">
            <option selected disabled>Selecione o tipo de Produto</option>
            <option value="racoes">Rações</option>
            <option value="remedios">Remédios</option>
            <option value="vacinas">Vacinas</option>
            <option value="casinhas">Casinhas</option>
        </select>
        <br>
        <br>
        <label for="nome-produto">Nome do Produto:</label>
        <br>
        <input type="text" id="nome-produto" name="nome" placeholder="Digite o nome do Produto" required>
        <br>
        <br>
        <label for="preco-produto">Preço do Produto:</label>
        <br>
        <input type="text" id="preco-produto" name="preco" placeholder="Digite o preço do Produto" required>
        <br>
        <br>
        <label for="descricao-produto">Descrição do Produto:</label>
        <br>
        <textarea name="descricao" id="descricao-produto" cols="30" rows="10"></textarea>
        <br>
        <br>
        <label for="imagem-produto">Anexe uma imagem do Produto:</label>
        <br>
        <input type="file" name="imagem" accept=".jpg">
        <br>
        <br>
        <button type="reset">Limpar Campos</button>
        <br>
        <br>
        <button type="submit">Cadastrar Produto</button>
    </form>
</body>
</html>