<!DOCTYPE html>
<html lang="pt-BR">
<%- include('partials/headCriarProdutos',{links:['header2','formularioCriarProdutos']}) %>
<body>
<%- include("partials/header2") %>
    <main> 
      <div class="container">
        <form action="/produtos/criar" method="POST" enctype="multipart/form-data">
          <div class="formulario">
            <h3 class="titulo">Cadastrar Produto</h3>
            <label label for="categoria">Qual é a Categoria do Produto:</label>
            <br>
            <select name="id_categoria" id="secao-produto">
                <option selected disabled>Selecione a Categoria</option>
                <option value="1">Cachorros</option>
                <option value="2">Gatos</option>
                <option value="3">Aves</option>
                <option value="4">Outros</option>
            </select>
            <br>
            <br>
            <label for="tipoProduto">Tipo de Produto:</label>
            <br>
            <select name="id_tipo_produto" class="" id="tipo-produto">
                <option selected disabled>Selecione o tipo de Produto</option>
                <option value="1">Rações</option>
                <option value="2">Petiscos</option>
                <option value="3">Remédios</option>
                <option value="4">Coleiras</option>
                <option value="5">Brinquedos</option>
                <option value="6">Casinhas</option>
                <option value="7">Acessórios</option>
            </select>
            <br>
            <br>
            <label for="nome">Nome do produto:</label>
            <br>
            <input type="text" id="nome" name="nome" placeholder="Digite o nome do Produto" required>
            <br>
            <label for="preco">Preço do Produto:</label>
            <br>
            <input type="number" id="preco" name="preco" placeholder="Digite o preço do Produto" required>
            <br>
            <br>
            <label for="descricao">Descrição do Produto:</label>
            <br>
            <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>
            <br>
            <br>
            <label for="imagem">Anexe uma imagem do produto:</label>
            <br>
            <input type="file" name="imagem">
            <br>
            <br>
          </div>
          <div class="termos"><input type="checkbox" id="termos" value="termos"><label for="integral">Concordo com os <a href="">termos e condições</a></label></div>
          <div class="entrar"><button type="submit">Cadastrar</button></div>
        </form>
      </div> 
      <div class="copy">Copyright© 2022 Buddy Pet Corporated - Todos os direitos reservados</div>
    </main>
</body>
</html>