<!DOCTYPE html>
<html lang="pt-BR">

<!-- ========================HEAD=============================HEAD============================= -->
  
<%- include('partials/head',{links:['header',/*'criarProdutos'*/]}) %>

<!-- ============================BODDY========================BODDY============================= -->

<body>

    <!-- ========================HEADER========================HEADER======================== -->

    <%- include("partials/header2") %>
  
    <!-- ==========================MAIN============================MAIN========================== -->
    
    <h1>Cadastrar Produto</h1>
    <form action="/produtos/criar" method="POST" enctype="multipart/form-data">
        <label for="categoria">Editar a categoria do produto:</label>
        <br>
        <select name="categoria" id="secao-produto">
            <option selected disabled>Selecione a Seção</option>
            <option>Cachorros</option>
            <option>Gatos</option>
            <option>Aves</option>
            <option>Outros</option>
            <option>Promoções</option>
        </select>
        <br>
        <br>
        <label for="tipoProduto">Editar o tipo do produto:</label>
        <br>
        <select name="tipoProduto" id="tipo-produto">
            <option selected disabled>Selecione o tipo de Produto</option>
            <option>Ração</option>
            <option>Petiscos</option>
            <option>Remédios</option>
            <option>Coleiras</option>
            <option>Brinquedos</option>
            <option>Casinhas</option>
            <option>Acessórios</option>
        </select>
        <br>
        <br>
        <label for="nome">Editar o nome do produto:</label>
        <br>
        <input type="text" id="nome" name="nome" placeholder="Digite o nome do Produto" required>
        <br>
        <br>
        <label for="preco">Editar o preço do produto:</label>
        <br>
        <input type="number" id="preco" name="preco" placeholder="Digite o preço do Produto" required>
        <br>
        <br>
        <label for="descricao">Editar a descrição do produto:</label>
        <br>
        <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>
        <br>
        <br>
        <label for="imagem">Anexe uma imagem do produto:</label>
        <br>
        <input type="file" name="imagem">
        <br>
        <br>
        <button type="reset">Limpar Campos</button>
        <br>
        <br>
        <button type="submit">Cadastrar Produto</button>
    </form>

    <div class="copy"><p>Copyright© 2022 Buddy Pet Corporated - Todos os direitos reservados</p></div>
    
</body>
</html>