<!DOCTYPE html>
<html lang="pt-br">

<!-- ========================HEAD========================HEAD=============================== -->
  
<%- include('partials/head',{links:['header','index','footer','animation']}) %>

<!-- ========================BODDY========================BODDY============================== -->

<body>

  <!-- ========================HEADER========================HEADER======================== -->

  <%- include('partials/header') %>

  <!-- ==========================MAIN============================MAIN========================== -->

  <main>
    <section class="galery">
      <div class="promoções">
        <h1>Favoritos dos buddypets com até 40% OFF</h1>
        <i class="fa-solid fa-heart"></i>
      </div>
      
      <nav class="fotos">
        <img src="img/banner1.gif" alt="">
        <img src="img/banner2.webp" alt="">
        <img src="img/banner3.gif" alt="">
        <img src="img/banner4.gif" alt="">
        <img src="img/bac:\Users\Henrique Lima\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-browser\workbench\workbench.htmlnner1.gif" alt="">
      </nav>  
    </section> 

    <section class="produtos">

      <div class="ofertas"><h1>Mais ofertas imperdíveis</h1></div>
      <div class="imagens">
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/royal.jpg" alt=""><p>Produto 2</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/bravecto.jpg" alt=""><p>Produto 3</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/racao_hills.jpg" alt=""><p>Produto 4</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/super-secao.jpg" alt=""><p>Produto 5</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
         
         
      </div>
      
      <div class="vendidos"><h1>Os mais vendidos</h1></div>
      <div class="ícones">
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/royal.jpg" alt=""><p>Produto 2</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/bravecto.jpg" alt=""><p>Produto 3</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/racao_hills.jpg" alt=""><p>Produto 4</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/super-secao.jpg" alt=""><p>Produto 5</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
      </div>

    </section>
  </main>

  <!-- ========================FOOTER========================FOOTER======================== -->

  <%- include('partials/footer') %>

  <!-- ========================FOOTER========================FOOTER======================== -->

</body>
</html>
