<nav class="fotos">
    <img src="img/banner1.gif" alt="">
    <img src="img/banner2.webp" alt="">
    <img src="img/banner3.gif" alt="">
    <img src="img/banner4.gif" alt="">
    <img src="img/bac:\Users\Henrique Lima\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-browser\workbench\workbench.htmlnner1.gif" alt="">
  </nav>