<div class="sidebar">
    <h4>Filtro</h4>
    <a href="#"><i class="fas fa-drumstick-bite"></i><span>Ração e Petiscos</span></a>
    <a href="#"><i class="fas fa-capsules"></i><span>Farmácia e Beleza</span></a>
    <a href="#"><i class="fas fa-blind"></i><span>Coleiras e Guias</span></a>
    <a href="#"><i class="fas fa-futbol"></i><span>Brinquedos</span></a>
    <a href="#"><i class="fas fa-home"></i><span>Casas e Camas</span></a>
    <a href="#"><i class="fas fa-gear"></i><span>Acessórios</span></a>
  </div>