<footer>
	<div class="block">
		<div class="rodape">
			<div class="link">
				<div class="barra">
					<a href="/quemsomos">Quem Somos</a>
					<div class="somos">
						<a href="quemsomos"><img src="/img/somos.webp" alt=""></a>
					</div>
				</div>           
				<div class="barra">
					<a href="/politicas">Políticas</a>
					<div class="seguranca">
						<a href="/politicas"><img src="/img/site-seguro.png" alt=""></a>
					</div>
				</div>           
				<div class="barra">
					<span>Meios de pagamentos</span>
					<div class="pagamentos">
						<img src="/img/visa.webp" alt="">
						<img src="/img/mastercard.jpg" alt="">
						<img src="/img/elo.2.png" alt="">
						<img src="/img/boleto.png" alt="">
						<img src="/img/pix.jpg" alt="">
					</div>
				</div>
				<div class="barra">
					<span>Redes Sociais</span>
					<div class="sociais">
						<a href=""><img src="/img/facebook.svg" alt=""></a>
						<a href=""><img src="/img/instagram.svg" alt=""></a>
						<a href=""><img src="/img/linkedin.svg" alt=""></a>
						<a href=""><img src="/img/youtube.svg" alt=""></a>
					</div>
				</div>
			</div>
	
			<div class="endereco">
			<div class="icone1"><i class="fa-solid fa-location-dot"></i><P>Rua dos Tucanos Mancos, 2022, Embú das Artes, São Paulo - SP</P></div>
			<div class="icone"><i class="fa-solid fa-envelope"></i><p>suportebuddypet@gmail.com</p></div>
			<div class="icone"><i class="fa-brands fa-whatsapp"></i><P>+55 (11) 4814-7454</P></div>
			</div> 
		
			
		</div>
		<div class="copy"><P>Copyright© 2022 Buddy Pet Corporated - Todos os direitos reservados</P></div>

</footer>