<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/b9dfb2e070.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="./css/home.css">
  <link rel="stylesheet" href="./css/footer.css">
  <link rel="stylesheet" href="css/animation.css">
  <title>Buddy Pet - O melhor lugar para seu amigão</title>
</head>

<!-- ========================BODDY========================BODDY======================== -->

<body>

  <!-- ========================HEADER========================HEADER======================== -->

  <header id="header">
    
      <div class="logo"><a href="home.html"><img src="img/logo.png" alt="Logo Buddy Pet"></a></div>
              
      <nav class="pesquisa">

        <div class="container">

          <div class="formulario">
            <form action="" method="post">
              <input type="text" name="search" id="search" placeholder="Pesquisar na BuddyPet" required>
              <button type="submit">
                <i class="fa-solid fa-magnifying-glass" style="font-size:20px"></i>
              </button>
            </form>
            <div class="sand"><button onclick="toggleSidebar()" class="btn_icon_header"><i class="fa-solid fa-bars"></i></button></div>
          </div>
         
          <span class="carrinho" ><a href="carrinho.html"><i class="fas fa-shopping-cart"></i></a></span>
          <span class="cadastre" ><a href="acessar.html"><i class="fa-solid fa-heart"></i></a></span>
          <span class="login" ><a href="criarconta.html"><i id="arrow" class="fa-solid fa-arrow-right-to-bracket"></i><span class="entrar">Entrar | Cadastrar</span></a></span>
        </div>
      
        <div class="branco"></div>

        <div class="nav-bar" id="nav_bar">
          <button onclick="toggleSidebar()" class="icon_x">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
         </button>
          <div class="conta"><a href="acessar.html"><i id="icon" class="fa-solid fa-circle-user" style="font-size:22px"></i><span>Minha conta</span></a></div>
          <div class="favoritos"><a href="acessar.html"><i id="icon" class="fa-solid fa-heart" style="font-size:22px"></i><span>Meus favoritos</span></a></div>
          <div class="cart"><a href="carrinho.html"><i id="icon" class="fas fa-shopping-cart" style="font-size:22px"></i><span>Minhas compras</span></a></div>
          <div class="dog"><a href="cachorros.html"><i id="icon" class="fa-solid fa-dog" style="font-size:22px"></i><span>Cachorros</span></a></div>
          <div class="cat"><a href="gatos.html"><i id="icon" class="fa-solid fa-cat" style="font-size:22px"></i><span>Gatos</span></a></div>
          <div class="aves"><a href="aves.html"><i id="icon" class="fa-solid fa-dove" style="font-size:22px"></i><span>Aves</span></a></div>
          <div class="outros"><a href="outros.html"><i id="icon" class="fa-solid fa-frog" style="font-size:22px"></i><span>Outros</span></a></div>
          <div class="promocoes"><a href="promocoes.html"><i id="icon" class="fa-solid fa-bullhorn" style="font-size:22px"></i><span>Promoções</span></a></div>
        </div>
         
      </nav>
    </header>  

<!-- ========================================main============================================= -->

  <main>
    <section class="galery">
      <div class="promoções">
        <h1>Favoritos dos buddypets com até 40% OFF</h1>
        <i class="fa-solid fa-heart"></i>
      </div>
      
      <nav class="fotos">
        <img src="img/banner1.gif" alt="">
        <img src="img/banner2.webp" alt="">
        <img src="img/banner3.gif" alt="">
        <img src="img/banner4.gif" alt="">
        <img src="img/banner1.gif" alt="">
      </nav>  
    </section> 

    <section class="produtos">

      <div class="ofertas"><h1>Mais ofertas imperdíveis</h1></div>
      <div class="imagens">
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/royal.jpg" alt=""><p>Produto 2</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/bravecto.jpg" alt=""><p>Produto 3</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/racao_hills.jpg" alt=""><p>Produto 4</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/super-secao.jpg" alt=""><p>Produto 5</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
         
         
      </div>
      
      <div class="vendidos"><h1>Os mais vendidos</h1></div>
      <div class="ícones">
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/royal.jpg" alt=""><p>Produto 2</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/bravecto.jpg" alt=""><p>Produto 3</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/racao_hills.jpg" alt=""><p>Produto 4</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/super-secao.jpg" alt=""><p>Produto 5</p></button></a>
         <button type="submit"><a href=""><img src="https://static.petz.com.br/novaLoja/images/home/golden.jpg" alt=""><p>Produto 1</p></button></a>
      </div>

    </section>
  </main>

  <!-- ========================FOOTER========================FOOTER======================== -->

  <footer>
    <div class="block">
      <div class="rodape">
        <div class="link">
           <div class="barra">
            <a href="quemsomos.html">Quem Somos</a>
            <div class="somos">
              <a href="quemsomos.html"><img src="./img/somos.webp" alt=""></a>
            </div>
          </div>           
           <div class="barra">
            <a href="politicas.html">Políticas</a>
            <div class="seguranca">
              <a href=""><img src="./img/site-seguro.png" alt=""></a>
            </div>
           </div>           
           <div class="barra">
            <span>Meios de pagamentos</span>
            <div class="pagamentos">
              <img src="./img/visa.webp" alt="">
              <img src="./img/mastercard.jpg" alt="">
              <img src="./img/elo.2.png" alt="">
              <img src="./img/boleto.png" alt="">
              <img src="./img/pix.jpg" alt="">
            </div>
           </div>
           
           <div class="barra">
            <span>Redes Sociais</span>
            <div class="sociais">
              <a href=""><img src="./img/facebook.svg" alt=""></a>
              <a href=""><img src="./img/instagram.svg" alt=""></a>
              <a href=""><img src="./img/linkedin.svg" alt=""></a>
              <a href=""><img src="./img/youtube.svg" alt=""></a>
            </div>
           </div>
        </div>
    
        <div class="endereco">
         <div class="icone1"><i class="fa-solid fa-location-dot"></i><P>Rua dos Tucanos Mancos, 2022, Embú das Artes, São Paulo - SP</P></div>
         <div class="icone"><i class="fa-solid fa-envelope"></i><p>suportebuddypet@gmail.com</p></div>
         <div class="icone"><i class="fa-brands fa-whatsapp"></i><P>+55 (11) 4814-7454</P></div>
        </div> 
      </div>

      <div class="copy"><P>Copyright© 2022 Buddy Pet Corporated - Todos os direitos reservados</P></div>

  </footer>
</body>
<script>
  var header = document.getElementById('header');
  var nav_bar = document.getElementById('nav_bar');
  var showSidebar = false;

  function toggleSidebar()
  {
    showSidebar = !showSidebar;
    if(showSidebar)
    {
      nav_bar.style.right = '-1vw';
    }
    else
    {
      nav_bar.style.right = '-100vw';
    }
  }
</script>
</html>
