<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/b9dfb2e070.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="./css/produtos.css">
<title>Informações do produto</title>
</head>

<!-- ========================BODDY========================BODDY======================== -->

<body>

<!-- ========================HEADER========================HEADER======================== -->

<%- include('partials/header') %>

<!-- ========================MAIN========================MAIN======================== -->

<main class="corpo"> >

<section class="firstbloco">
  <div class="product">
     <img src="./img/racao-golden-special-para-caes-adultos-frango-e-carne-3310549-15kg-Frente.webp" alt="racaoSeca">
  </div>

<div class="informacao">
<h2>Ração Golden Special para Cães Adultos Frango e Carne 15 kg</h2>
    <ul>
        <li>- Indicada para cães adultos;</li>
        <li>- Blend de proteínas;</li>
        <li>- Músculos mais fortes;</li>
        <li>- Redução do odor das fezes;</li>
        <li>- Mais rendimento por quilo;</li>
        <li>- Saúde e vitalidade;</li>
        <li>- Livre de aromatizantes e corantes artificiais.</li>
      </ul>
    </div>



    <section class="content">
      <form class="tamanho">
        <select id="peso">
          <option selected disabled>Selecione o tamanho</option>
          <option value="1">1Kg</option>
          <option value="3">3Kg</option>
          <option value="15">15Kg</option>
          <option value="20">20Kg</option>
        </select>
        <br><br>
       </form>

       <div class="preco">
        <p>a partir de</p>
        <h1>R$ 53,90</h1>
        <P>ou 3x de R$ 17,96</P>
       </div>

       <div class="container">
        <form class="unidades">
          <select id="unid">
            <option selected disabled>UNIDADES</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        
          <button type="submit">Comprar</button>
        </form>
       </div>

  </section>
</main>

<!-- ========================FOOTER========================FOOTER======================== -->

<%- include('partials/footer') %>



</body>
<script>
  var header = document.getElementById('header');
  var nav_bar = document.getElementById('nav_bar');
  var showSidebar = false;

  function toggleSidebar()
  {
    showSidebar = !showSidebar;
    if(showSidebar)
    {
      nav_bar.style.right = '-1vw';
    }
    else
    {
      nav_bar.style.right = '-100vw';
    }
  }
</script>
</html>